<div class="landing-div">
<div class="intro-section section d-flex container-fluid">
  <div class="row">
  <div class="align-self-center col-7 mx-auto">
    <h2 class="pb-5 intro-header">Looking for a lunch buddy?</h2>
        <%= image_tag "ramen.png", class: "landing-img-sm img-fluid" %>
  </div>
  </div>
</div>

<div class="second-intro-section section d-flex container-fluid">
  <div class="row">
  <div class="align-self-center col-8 ml-auto">
  </div>
  </div>
</div>
</div>

<div class="about-section pt-5 container-fluid">
<section>

  <div class="row">
  <div class="col-12 mx-auto text-center">
    <h2 class="lead about-header">how it works</h2>
     <%= image_tag "bagel.png", class: "landing-img-xs img-fluid" %>
  </div>
</section>
<section>
  <div class="row mx-auto flex-column flex-md-row">
    <div class="col-12 col-md-6 align-self-center text-center d-none d-md-block">
      <p class="lead">Browse appointments</p>
    </div>
    <div class="col-10 col-md-4 mx-auto">
      <%= image_tag "computer.jpg", class: "landing-img-lg img-fluid" %>
    </div>
    <div class="col-12 col-md-6 align-self-center text-center d-block d-md-none">
      <p class="lead">Browse appointments</p>
    </div>
  </div>
</section>
<section>
  <div class="row mx-auto flex-column flex-md-row">
  <div class="col-10 col-md-5 mx-auto">
      <%= image_tag "calendar.jpg", class: "landing-img-lg img-fluid" %>
    </div>
    <div class="col-12 col-md-6 align-self-center text-center">
      <p class="lead">Save the date</p>
    </div>
  </div>
</section>
<section>
  <div class="row mx-auto flex-column flex-md-row">
    <div class="col-12 col-md-6 align-self-center text-center d-none d-md-block">
      <p class="lead">Meet your lunch buddy!</p>
      <p>(Don't be late!)</p>
    </div>
    <div class="col-10 col-md-5 mx-auto">
      <%= image_tag "restaurant.jpg", class: "landing-img-lg img-fluid" %>
    </div>
    <div class="col-12 col-md-6 align-self-center text-center d-block d-md-none">
      <p class="lead">Meet your lunch buddy!</p>
      <p>(Don't be late!)</p>
    </div>
  </div>
</section>
  </div>
</div>