<div class="landing-div pb-5">
<div class="intro-section profile-section">
<br>
<h1 class="text-center profile-header">edit Profile</h1>
<div class="card mx-auto col-10 col-md-6 shadow p-3 mb-5 bg-white rounded">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class "form-group">
    <div class="row">
      <div class="col-sm-4 mx-auto mb-3">
        <% if resource.avatar.attached? %>
          <%= image_tag(resource.avatar_thumbnail, :class => "profile-avatar img-fluid rounded-circle") %>
        <% else %>
          <%= image_tag("default_profile.png", :class => "profile-avatar img-fluid rounded-circle") %>
        <% end %>
      <div class="mt-1">
        <%= f.file_field :avatar %>
      </div>
      </div>        
    </div>
  </div>

<div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">first name</span>
      </div>
      <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">last name</span>
      </div>
      <%= f.text_field :lastname, autocomplete: "lastname", class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">☎️</span>
      </div>
      <%= f.text_field :phone, autocomplete: "phone", class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@username</span>
      </div>
      <%= f.text_field :username, autocomplete: "username", class: "form-control" %>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">✉️</span>
      </div>
      <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">new password</span>
      </div>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "••••••" %>
    </div>
    <span class="mb-3">(optional)</span>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">confirm password</span>
      </div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "••••••" %>
    </div>
    <span class="mb-3">(required to change current password)</span>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">current password</span>
      </div>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "••••••" %>
    </div>
    <span class="mb-3">(required to save changes)</span>

  <div class="actions text-right">
    <%= f.submit "Update", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<%# <p>Unhappy? = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"</p> %>

</div>

</div>
</div>