<h1 class="text-center">All cuisines</h1>
 <% if current_user.isAdmin %>
    <div class="form-group mt-3 text-left">
    <%= form_for @cuisine, url: {controller: "cuisines", action: "create"} do |f| %>
      <%= f.label :name, "Add cuisine" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group mt-3 text-left">
     <%= f.submit "Save", class: "btn btn-success mt-3" %>
    </div>
    <% end %>
  <% end %>
<div class="row d-flex flex-wrap">
<% @cuisines.each do |cuisine| %>
  <div class="border col-3 p-2 mx-1 text-center">
    <%= link_to cuisine.name, cuisine_path(cuisine) %>
  <% if current_user.isAdmin %>
    <div class="d-block">
      <%= link_to "Edit", edit_cuisine_path(cuisine), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete", cuisine_path(cuisine), method: "delete", data:{confirm: "Delete this cuisine?"}, class: "btn btn-danger btn-sm" %>
    </div>
   <% end %>
  </div>
<% end %>
</div>
