<div class="landing-div">
<div class="intro-section profile-section">
<br>
<h1 class="text-center profile-header">Appointments relating to this cuisine: "<%= @cuisine.name %>"</h1>
<div class="text-center mx-auto pb-4">
     <%= image_tag "bagel.png", class: "landing-img-xs img-fluid" %>
  </div>

<% @noAppt = [] %>
<div class="row d-flex flex-wrap mx-auto justify-content-between container">

  <% @cuisine.appointments.reverse.each do |a| %>
    <% if a.happening == 'open' %>
      <% @noAppt << a.id %>
    <div class="appt-card card mx-auto mb-4 p-2 text-left d-flex flex-column justify-content-between">
      <div class="appt-tags text-left">
      <%= fa_icon "tags" %>
        <% a.locations.each do |l| %>
            <span><%= link_to l.name, location_path(l), class: "badge badge-location" %></span>
          <% end %>
          <% a.cuisines.each do |c| %>
            <span><%= link_to c.name, cuisine_path(c), class: "badge badge-cuisine" %></span>
          <% end %>
          <% a.prices.each do |p| %>
            <span><%= link_to p.name, price_path(p), class: "badge badge-price" %></span>
        <% end %>
      </div>
      <hr class="my-1">

      <div class="appt-header">
        <p><%= fa_icon "user" %> <b><%= link_to a.poster.username, user_path(a.poster.id)  %></b> is looking for a lunch buddy!</p>
      </div>
      <div class="appt-title">
        <p><%= fa_icon "quote-left" %> <%= link_to a.title, appointment_path(a) %></p>
      </div>
      <hr class="my-1">
      <div class="appt-time d-flex">
        <div class=""><span class="time-label">Starts</span> <p><%= a.start_time.strftime('%a, %d %b %Y at %I:%M %p') %></p></div>
        <div class="time-vertical-div px-2"><%= fa_icon "arrow-circle-right" %></div>
        <div><span class="time-label">Ends</span> <p><%= a.end_time.strftime('%a, %d %b %Y at %I:%M %p') %></p></div>
      </div>
      <hr class="my-1">
      <div class="appt-btns text-center">
        
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal<%= a.id %>">
          Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="modal<%= a.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Posted by <%= a.poster.firstname %> <%= a.poster.lastname %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= a.content %>
              </div>
              <% if current_user.id != a.poster.id && a.status != "booked" %>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                <%= link_to "Accept Invitation", accept_path(a), method: "put", class: "btn btn-sm btn-success" %>
              </div>
               <% end %> 
            </div>
          </div>
        </div>

        <% if current_user.id != a.poster.id && a.status != "booked" %>
        <%= link_to "Accept Invitation", accept_path(a), method: "put", class: "btn btn-sm btn-success" %>
        
        <%# <button class="btn btn-success btn-sm">Accept Invitation</button> %>
        <% else %>
        <hr class="my-1">
          <% if current_user.id != a.poster.id && current_user.id != a.respondent.id %>
            <p>Someone has already accepted this invitation</p>
          <% elsif current_user.id != a.poster.id && current_user.id == a.respondent.id %>
            <p>You accepted this invitation</p>
          <% elsif current_user.id == a.poster.id && a.status == "booked"%>
            <% @respondent = User.find(a.respondent.id)%>
            <p><%= link_to @respondent.username, user_path(@respondent) %> accepted your invitation</p>
          <% end %> 
        <% end %> 
      </div>
    </div>
    <% end %>
  <% end %>

<% if @noAppt.empty? %>
<div class="text-center mx-auto no-appt">There are currently no open appointments in this tag ):</p>
<% end %>
</div>
</div>
</div>