<h1>Meet your new lunch buddy!</h1>

<p><%= @respondent.username %> (<%= @respondent.email%>) has accepted <%= @poster.username %>'s (<%= @poster.email%>) invitation.</p><br>

<p><strong><%= @appointment.title %> <%= link_to "View appointment", appointment_url(@appointment), target: :_blank %></strong></p>
<p><%= @appointment.content %></p>
<p>Start time: <%= @appointment.start_time.strftime('%a, %d %b %Y at %I:%M %p') %></p>
<p>End time: <%= @appointment.end_time.strftime('%a, %d %b %Y at %I:%M %p') %></p><br>

<p>Get in touch so you can hash out the details of your lunch appointment.</p><br>

<p>Enjoy lunch!</p>
<p>The Lunch Buddy Team</p>


