<h1 class="text-center">All price ranges</h1>
  <% if current_user.isAdmin %>
    <div class="form-group mt-3 text-left">
    <%= form_for @price do |f| %>
      <%= f.label :name, "Add price range" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group mt-3 text-left">
     <%= f.submit "Save", class: "btn btn-success mt-3" %>
    </div>
    <% end %>
  <% end %>
<div class="row d-flex flex-wrap">
<% @prices.each do |price| %>
  <div class="border col-3 p-2 mx-1 text-center">
    <%= link_to price.name, price_path(price) %>
  <% if current_user.isAdmin %>
    <div class="d-block">
      <%= link_to "Edit", edit_price_path(price), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete", price_path(price), method: "delete", data:{confirm: "Delete this price range?"}, class: "btn btn-danger btn-sm" %>
    </div>
   <% end %>
  </div>
<% end %>
</div>
