<h1 class="text-center">Available lunch buddies</h1>

<div class="row d-flex flex-wrap">
  <% @appointments.reverse.each do |a| %>
    <div class="border col-3 p-2 mx-1 text-center">
        <p><b><%= a.poster.username %></b> is looking for a lunch buddy!</p>
        <p>"<%= a.title %>"</p>
        <p><%# a.status %></p>
        <p>Start: <%= l a.start_time %></p>
        <p>End: <%= l a.end_time %></p>

  <div class="text-left">
    Location(s): 
    <% a.locations.each do |l| %>
       <% if a.locations.length > 1 %>
       <%= link_to l.name, location_path(l) %>,
       <% else %>
       <%= link_to l.name, location_path(l) %>
       <% end %>
    <% end %>
  </div>
  
  <div class="text-left">
    Cuisine(s): 
  <% a.cuisines.each do |c| %>
  <span><%= link_to c.name, cuisine_path(c) %></span>
  <% end %>
  </div>

  <div class="text-left">
    Price Range(s): 
  <% a.prices.each do |p| %>
  <span><%= link_to p.name, price_path(p) %></span>
  <% end %>
  </div>

  <div class="mx-auto">
    <%= link_to "Details", appointment_path(a), class: "btn btn-sm btn-info" %>
    <button class="btn btn-success btn-sm">Accept Invitation</button>
  </div>
    </div>
  <% end %>
</div>