<h1 class="text-center">View appointment</h1>

<div class="border col-6 p-2 mx-auto text-center">
  <p><b><%= @appointment.poster.username %></b> is looking for a lunch buddy!</p>
  <p>"<%= @appointment.title %>"</p>
   <p><%= @appointment.content %></p>
  <p>Status: <%= @appointment.status %></p>
  <p>Start: <%= @appointment.start_time.strftime('%a, %d %b %Y at %I:%M %p') %></p>
  <p>End: <%= @appointment.end_time.strftime('%a, %d %b %Y at %I:%M %p') %></p>

<div class="text-center mb-3">
  <% @appointment.locations.each do |l| %>
    <span><%= link_to l.name, location_path(l), class: "badge badge-location" %></span>
  <% end %>
  <% @appointment.cuisines.each do |c| %>
    <span><%= link_to c.name, cuisine_path(c), class: "badge badge-cuisine" %></span>
  <% end %>
  <% @appointment.prices.each do |p| %>
    <span><%= link_to p.name, price_path(p), class: "badge badge-price" %></span>
  <% end %>
</div>
  
  <div class="mx-auto">
     <% if current_user.id != @appointment.poster.id && @appointment.upcoming == "true" && @appointment.status != 'booked'%>
        <%= link_to "Accept Invitation", accept_path(@appointment), method: "put", class: "btn btn-sm btn-success" %>
        <%# <button class="btn btn-success btn-sm">Accept Invitation</button> %>
     <% elsif current_user.id != @appointment.poster.id && @appointment.status == 'booked' %>
          <% if current_user.id != @appointment.poster.id && current_user.id != @appointment.respondent.id %>
            <p>Someone has already accepted this invitation</p>
          <% elsif current_user.id != @appointment.poster.id && current_user.id == @appointment.respondent.id %>
            <p>You accepted this invitation</p>
          <% elsif current_user.id == @appointment.poster.id && @appointment.status == "booked"%>
            <% @respondent = User.find(@appointment.respondent.id)%>
            <p><%= link_to @respondent.username, user_path(@respondent) %> accepted your invitation</p>
          <% end %> 
      <% end %> 
      <% if @appointment.upcoming == 'false' %>
        <p>This appointment has passed</p>
      <% end %> 
  </div>

  <div class="mx-auto">
    <% if current_user.id == @appointment.poster.id && @appointment.status != "booked" %>
    <%= link_to "Edit", edit_appointment_path(@appointment), class: "btn btn-sm btn-warning" %>
    <%= link_to "Delete", appointment_path(@appointment), method: "DELETE", data:{ confirm: "Confirm?"}, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>

  <div class="mx-auto">
    <% if @appointment.upcoming == 'false' && @appointment.status == 'booked' %>
      <% if current_user.id == @appointment.poster.id && @appointment.poster_has_reviewed == false || current_user.id == @appointment.respondent.id && @appointment.respondent_has_reviewed == false %>
      <p>Review your lunch buddy:</p>
      <%= link_to "Upvote", upvote_path(@appointment), method: "put", class: "btn btn-sm btn-success" %>
      <%= link_to "Downvote", downvote_path(@appointment), method: "put", class: "btn btn-sm btn-success"%>
      <% elsif current_user.id == @appointment.poster.id && @appointment.poster_has_reviewed == true || current_user.id == @appointment.respondent.id && @appointment.respondent_has_reviewed == true %>
      <p>You have reviewed your buddy.</p>
      <% end %> 
    <% end %> 
  </div>
</div>