<h1 class="text-center">View appointment</h1>

<div class="border col-6 p-2 mx-auto text-center">
  <p><b><%= @appointment.poster.username %></b> is looking for a lunch buddy!</p>
  <p>"<%= @appointment.title %>"</p>
  <p>Status: <%= @appointment.status %></p>
  <p>Start: <%= l @appointment.start_time %></p>
  <p>End: <%= l @appointment.end_time %></p>

<div class="text-center mb-3">
  <% @appointment.locations.each do |l| %>
    <span><%= link_to l.name, location_path(l), class: "badge badge-location" %></span>
  <% end %>
  <% @appointment.cuisines.each do |c| %>
    <span><%= link_to c.name, cuisine_path(c), class: "badge badge-cuisine" %></span>
  <% end %>
  <% @appointment.prices.each do |p| %>
    <span><%= link_to p.name, price_path(p), class: "badge badge-price" %></span>
  <% end %>
</div>

  <div class="mx-auto">
    <button class="btn btn-success btn-sm">Accept Invitation</button>
  </div>
</div>