<h1 class="text-center">All locations</h1>
  <% if current_user.isAdmin %>
    <div class="form-group mt-3 text-left">
     <% if @location.errors.any? %>
      <%= pluralize(@location.errors.count, "error") %>
        <% @location.errors.full_messages.each do |message| %>
          <div class="alert alert-danger"> <%= message %> </div>
        <% end %>
    <% end %>
    <%= form_for @location, url: {controller: "locations", action: "create"} do |f| %>
      <%= f.label :name, "Add location" %>
      <%= f.text_field :name, class: "form-control" %>
    <div class="form-group mt-3 text-left">
     <%= f.submit "Save", class: "btn btn-success mt-3" %>
    </div>
    <% end %>
  <% end %>
<div class="row d-flex flex-wrap">

<% @locations.each do |location| %>
  <div class="border col-2 p-2 mx-1 text-center">
    <%= link_to location.name, location_path(location) %>
  <% if current_user.isAdmin %>
    <div class="d-block">
      <%= link_to "Edit", edit_location_path(location), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete", location_path(location), method: "delete", data:{confirm: "Delete this location?"}, class: "btn btn-danger btn-sm" %>
    </div>
   <% end %>
  </div>
<% end %>
</div>