<!DOCTYPE html>
<html>
  <head>
    <title>lunch buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag asset_path('lunch-favicon.png') %>
    
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%# START NAVBAR %>
    <nav class="navbar navbar-default navbar-expand-lg navbar-dark">
    <div class="container-fluid">
    <%= image_tag "lunch-bag.png", class: "nav-logo navbar-brand" %>
    <%= link_to "lunch buddy", appointments_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <%= link_to "Home", appointments_path, class: "nav-item nav-link" %>
        <% if user_signed_in? %>
          <%# current_user.avatar %>
          <%= link_to "Edit Account", edit_user_registration_path(current_user), class: "nav-item nav-link" %>
          <%= link_to "Profile", user_path(current_user), class: "nav-item nav-link" %>
          <%= link_to "New Appointment", new_user_appointment_path(current_user), class: "nav-item nav-link" %>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Locations", locations_path, class: "dropdown-item" %>
              <%= link_to "Cuisines", cuisines_path, class: "dropdown-item" %>
              <%= link_to "Price Range", prices_path, class: "dropdown-item" %>
            </div>
          </li>
          

          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Log In", new_user_session_path, class: "nav-item nav-link" %>
        <% end %>
      </div>
    </div>
    </div>
  </nav>
  <%# END NAVBAR %>
  <%# START FLASH MESSAGES %>
    <% if notice %>
      <div class="notice alert alert-success mb-0"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger mb-0"><%= alert %></div>
    <% end%>
  <%# END FLASH MESSAGES %>
    <%= yield %>

  </body>

  <footer class="page-footer">
    <div class="footer-copyright text-right py-2 pr-3">
      <span class="copyright">
      <%= link_to "https://github.com/fabienlimzk/lunch-buddy" do %>
      © 2020 Chonky
        <%= fa_icon "github" %>
      <% end %>
      </span>
    </div>
  </footer>
</html>
